
<a href="{{ "/" | relative_url }}">
  <h1>Maine Climate Protectors</h1>
  <h2>grassroots legal climate advocacy for the state and the world</h2>
</a>
<div id="main_nav">
  <span class="nav_item">
    <a href="{{ "/petition/" | relative_url }}">The Petition</a>
  </span>
  <span class="nav_item">
    <a href="{{ "/who/" | relative_url }}">Who We Are</a>
  </span>
  <span class="nav_item">
    <a href="{{ "/timeline/" | relative_url }}">Timeline</a>
  </span>
  <span class="nav_item">
    <a href="{{ "/support/" | relative_url }}">Help Out</a>
  </span>
  <span class="nav_item">
    <a href="{{ "/posts/" | relative_url }}">Blog</a>
  </span>
</div>
