
body {
  background-color: $primary-color;
  margin: 0px;
  color: $font-color;
  font-size: 14px;
  @media (max-width:1040px) {
    font-size: 14px;
  }
  @media (max-width:970px) {
    font-size: 13px;
  }
}


header {
  font-size: 150%;
  @media (max-width:1200px) {
    font-size: 2vw;
  }
  @media (max-width:600px) {
    font-size: 3vw;
  }
  @media (max-width:360px) {
    font-size: 3.6vw;
  }
  font-family: $heading-font;
  color: $secondary-font-color;
  border-bottom: 7px solid $light-color;
  h1 {
    font-size: 200%;
    margin: 1vw;
  }
  h2 {
    font-size: 130%;
    padding-left: 1.5em;
    margin: -0.5em 1em 1em 1em;
  }
  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
  #main_nav {
    margin: 0.3em auto 0em auto;
    width: 90%;
    a:hover {
      text-decoration: underline;
    }
    .nav_item {
      display: inline-block;
      background-color: $light-color;
      margin: .2em 1vw 0px 1vw;
      padding: 0.5em;
    }
  }
}


footer{
  font-size: 90%;
  margin: 1em;
  font-family: $content-font;
  font-weight: 200;
  color: $secondary-font-color;
  text-align: center;
}
